@model SiteAquario.Models.ValoresSensor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ValoresSensor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ValoresSensorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
