@model IEnumerable<SiteAquario.Models.ValoresSensor>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1>Lista Valores</h1>
</div>
<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> Criar novo </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ph)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temperatura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td align="right">
                    <a asp-action="Edit" asp-route-id="@item.ValoresSensorID" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Details" asp-route-id="@item.ValoresSensorID" class="btn btn-success"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ValoresSensorID" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


